body {
    background-image: url('login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    font-family: 'Bradley Hand', cursive;
}
#loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 650px;
    border: 5px solid black;
    border-radius: 40px;
    background-color: #a37a69;
    opacity: 1;
    color: black;
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
}
#username{
    width: 450px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: left;
    border: 3px solid black;
    outline: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Bradley Hand', cursive;
    font-size: 15px;
}
#password{
    width: 450px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: left;
    border: 3px solid black;
    outline: black;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Bradley Hand', cursive;
    font-size: 15px;
}
#checkboxContainer {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}
#rememberMe{
  width: 20px;
  height: 20px;
  border-radius: 35%;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  appearance: none; 
  cursor: pointer;
}
#rememberMe:checked{
    background-color: #ffebb5;
}
#rememberMe:checked::after{
    content:'✔';
    display: block;
    position: relative;
    bottom: 5px;
    font-size: 19px;
}
#loginButton{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border: 3px solid black;
    outline: black;
    background-color: #ffebb5;
    cursor: pointer;
    font-family: 'Bradley Hand', cursive;
    font-size: 18px;
}
#or{
    font-size: 30px;
    margin-top: 50px;
}
#account{
    font-size: 22px;
    margin-top: 30px;
}
a{
    color: #ffebb5;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
#loginResult{
    display: none;
    height: 30px;
    width: 330px;
    border: 2px solid black;
    background: red;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    margin-top: 420px;
    position: fixed;
    text-align: center;
    align-items: center; 
    justify-content: center;
}

